<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <title>Conatct</title>
    {% include 'navigation.html' %}

</head>
<body>
<div style="border:4px groove green; background-color:lightblue;">
<h1 style="text-align:center;"><b><u>Contact</u></h1></b>
    <h4 style="margin:35px;"><i class="fa fa-map-marker"></i> <b>Address-</b> ग्राम- धनौरा-टिकरी (बागपत)<br> <i class="fa-solid fa-map-location-dot"></i> <b>Pin Code-</b> 250622 <br>
       <i class="fa-solid fa-graduation-cap"></i> <b>College Code-</b> 1005 <br> <i class="fa fa-envelope"></i> <b>Email-</b> ameeshkavi1911@gmail.com <br><i class="fa fa-mobile"></i> <b>Mobile-</b>+91 9119024040</h4>

</div>

{% include 'footer.html' %}
</body>
</html>