<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>



<a name="top"></a>
<div class="sm-md-mt-3" style="background-color: black; width:100% ; height:140%">
<div class="container-fluid">
    <div class="row">
        <div class="col-3 sm-md-mt-3">
            <h3 class="text-white">Contact Information</h3>
            <p style="color:yellow; font-size: 103%"><i class="fa fa-map-marker text-danger"></i>Dhanoura Tikri (Bagpat)</p>
            <p style="color:yellow; font-size: 103%"><i class="fa fa-envelope text-danger"></i>ameeshkavi1911 @gmail.com</p>
            <p style="color:yellow; font-size: 103%"><i class="fa fa-mobile text-danger"></i>   Ph:+91 9119024040  </p>
            <p style="color:yellow; font-size: 103%"><i class="fa fa-globe text-danger"></i>   Web: www.jkic1005.com</p>
        </div>

        <div class="col-6 mt-3">
        <h3 class="text-white">आज़ादी का अमृत महोत्सव ....</h3>
        <p style="color:yellow; font-size:18px"><img src="static/images/azadi2.png" alt="azadi" style="width:10%; height:30%;">
       देश इस बार आज़ादी की 75वीं वर्षगाँठ मनायेगा इसको मनाने के लिए देश के माननीय प्रधानमंत्री श्री नरेन्द्र मोदी जी ने 12 मार्च 2021 को अहमदाबाद के साबरमती आश्रम में 75 हफ्तें पहले ही आज़ादी के अमृत महोत्सव का उद्घाटन कर दिया था
        </p></div>

    <div class="col-3 mt-3">
        <h3 class="text-white">Current News</h3>
        <marquee scrollamount="3" behavior="" direction="up">
        <p style="color:yellow; font-size:18px">कोरोना अभी खत्म नहीं हुआ है इसलिए मास्क पहनकर विद्यालय आना अनिवार्य है। </p>
        <form method="post" class="form-inline">

        </form>
        </marquee>
    </div>
    </div>
</div>
</div>


</body>
</html>