<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'navigation.html' %}
    <meta charset="UTF-8">
    <title>Help page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
        body{
            background-color: bisque;
            font-family: 'Padauk', sans-serif;
        }
        body .help h1{
            text-align: center;
        }
        ul.a {
            list-style-type: square;
            font-size: 20px;
        }

        ol.c {
            font-size: 20px;
        }
        </style>
</head>

<body>
<div class="help"><h1>ADMISSIONS</h1>
    <div class="help-content">
    <p><ol class="c">

    <li><h4> Instructions for Filling the Registration form for students.</h4></li>
    <li>Students need to fill the Registration Forms to register their application to the college.</li>
    <li>To register for admission please contact the given Mobile Number(9119024040)</li>
    <li>10th Marksheet & Certificate.for further admission in Nextclass</li>
    <li>  Passport size photographs.</li>
    <li> Identify Proof (for example Aadhar Card, Driving License, PAN Card, Passport, Voter ID Card).</li>
    <li>Address Proof (for example Aadhar Card, Driving License,  Electricity Bill, PAN Card, Voter ID Card.)</li>
    <li>The students need to fill the registration form provided by college With the required details.</li>
    </ol>
</p>
</div>


   <h2 style="text-align:center">REQUIREMENTS FOR THE ADMISSION</h2>

    <div>
  <p style="background-color:red">The candidates are advised to carry the following documents at the time of admission to avoid any inconvenience.</p>
    <ul class="a">
    <li>The original certificates of the examinations viz High-school, intermediate and graduation etc.</li>
    <li>Four passport-sized photographs , latest and facing in front.</li>
    <li>Transfer Certificate(T.C.),Migration certificate (M.C)and Character Certificate(C.C.)in original.</li>
    <li> No benefit will be given if the required certificate of SC, ST, OBC, Physically challanged, Freedom Fighter,Ex-serviceman etc.are not produced in original at the time of the admission.</li>
    <li>The certificates of sports N.C.C., N.S.S., Scouts/ Guide, Ranger/ Rover, Staff-Ward in original and their self-attested photocopies.(If applicable)</li>
    <li> Required fees (according to the class, subject or group).</li></ul></div></div>

{% include 'footer.html' %}
</body>
</html>